[Desktop Entry]
Name=Lyricade
GenericName=Lyrics Downloader
Comment=Download and manage lyrics
Exec=lyricade
Icon=io.github.weiteck.Lyricade
Terminal=false
Type=Application
Categories=AudioVideo;Music;GNOME;GTK;
Keywords=lyrics;lrc;metadata;sync;music;song;download;
X-SingleMainWindow=true
