.fade-overlay {
  background-color: alpha(@window_bg_color, 0.67);
}

.window-bg-overlay {
  background-color: @window_bg_color;
}

menubutton.flat.status-bar-button,
menubutton.flat.status-bar-button button,
menubutton.flat.status-bar-button label,
menubutton.flat.status-bar-button arrow {
  padding-top: 0;
  padding-bottom: 0;
}

button.circular.flat.mini-cancel {
  min-height: 0;
  min-width: 0;
  padding: 2px;
  margin: 0;
}

button.circular.flat.mini-cancel image {
  -gtk-icon-size: 12px;
}

box.view-lyrics.track-info {
  background: @sidebar_bg_color;
  border-radius: 1rem;
  padding: 1rem;
}

label.view-lyrics.artist-name {
  font-size: 1.5rem;
}

label.view-lyrics.track-name {
  font-size: 3rem;
  font-style: italic;
}

box.view-lyrics.tag {
  background: @sidebar_bg_color;
  border-radius: 1000px;
  padding: 0.5rem 1rem;
}

label.view-lyrics.tag.type {
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
}

box.view-lyrics.timestamp {
  border-right: 4px solid @sidebar_bg_color;
}

label.view-lyrics.timestamp {
  padding: 6px 6px 6px 14px;
  background: @sidebar_bg_color;
  border-radius: 1000px 0 0 1000px;
  min-height: 1.5rem; /* match lyrics height */
}

label.view-lyrics.text {
  font-size: 1.5rem;
}

label.view-lyrics.text.dimmed {
  opacity: 0.5;
}

.table-cell.lyrics {
  font-weight: normal;
  opacity: 0.67;
}

.table-cell.lyrics.preferred {
  font-weight: bold;
  opacity: 1;
}

progressbar.seekbar trough {
    min-height: 10px;
    margin-top: 4px;
}

progressbar.seekbar progress {
    min-height: 10px;
}
